body {
    font-size: 20px;
    font-family: "Helvetica";
    background: #ccc5c4;
    color: #070707;

    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3em;
    font-variant: small-caps;
    margin-bottom: 0;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 0;
    text-align: center
}

.song-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.meta-container {
    flex-grow: 1;
    align-self: baseline;
    display: flex;
    flex-direction: column;
}

.meta-item {
    margin: 0 auto;
}

#metadata {
    list-style-type: none;
    text-align: start;
    padding: 0 1.5rem;
}

#metadata li {
    padding: 7px 0;
}

a {
    text-decoration: none;
    color: #440044;
    background-color: #888888;
    padding: 10px 10px 8px 10px;
    border: 8px;
    border-radius: 8px;
}

a:visited {
    color: #440044;
}

a:hover, a:active {
    color: #880088;
    background-color: #999999;
}

#song {
    font-size: 1em;
    flex-grow: 4;
    margin: 0 auto;
}

#song h3 {
    padding-left: 0.5em;
}

#song p {
    font-size: 24px;
    font-family: "Space Mono", monospace;
    line-height: 120%;
}

#song.show-chords p {
    line-height: 220%;
}

#song p .chord {
    display: none;
}

#song.show-chords p .chord {
    position: relative;
    top: -1em;
    display:inline-block;
    width: 0;
    overflow: visible;
    color: #c30215;
    font-weight: bold;
    white-space: nowrap;
}

#copyright {
    margin-top: auto;
    margin-bottom: auto;
}

footer {
    text-align: center;
    position: relative;
    min-height: 53px;
}
